@font-face {
    src: url('../Fonts/SofiaSans-Italic.ttf');
    font-family: 'Sofia Sans Italic';            
}

html, body {
    font-family: 'Sofia Sans Italic', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
