header {
    color: black;
    background: rgb(115 167 202);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (500px <= width <= 1200px) {
    .header {
        flex-wrap: wrap;
    } 
}